spring:
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

api:
  url: "https://economia.awesomeapi.com.br/last/USD-BRL"

app:
  frontend:
    url: ${FRONTEND_URL}