spring:
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

api:
  url: "https://api.hgbrasil.com/finance?format=json-cors&"
  key: ${API_KEY}

app:
  frontend:
    url: ${FRONTEND_URL}